.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

.undraggable {
    pointer-events: none;
}


.paddingBetweenCols th {
  padding: 0% 2em;
}

table {
  border-collapse: collapse;
}

.mainTable tr, th {
  border: 2px solid black;
}

.mainTable th {
  border-left: none;
  border-right: none;
}

.blinkingText {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}

.blinkingBackground {
  animation: backgroundBlinker 2s linear infinite;
}

@keyframes backgroundBlinker {
  50% {
    background-color: #181818;
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(-360deg);}
}

::-webkit-scrollbar {
  background-color: #181818;
}

::-webkit-scrollbar-thumb {
  background-color: dimgray;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-2000px 1375px;}
}