.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

.undraggable {
    pointer-events: none;
}


.paddingBetweenCols th {
  padding: 0% 2em;
}

table {
  border-collapse: collapse;
}

tr, th {
  border: 2px solid black;
}

th {
  border-left: none;
  border-right: none;
}
